<script type="text/x-handlebars" data-template-name="tweets">
  <div id="poststatus">
    <form id="sendtweet">
      <textarea name="tweet" placeholder="What's up?"></textarea>
      <input type="submit" value="Tweet!">
    </form>
  </div>
  <div id="showstatus">
    <ul id="tweet-list">
      \{{#each}}
      <li>
        <span class="author">\{{author}} at time</span>
        <div class="tweet" \{{bind-attr class="isFave:faved"}}>\{{tweet}}</div>
        <span class="tools">Fave <input type="checkbox" class="toggle"></span>
      </li>
      \{{/each}}
    </ul>
  </div>
</script>

<script src="/javascripts/jquery-1.10.2.min.js"></script>
<script src="/javascripts/handlebars.js"></script>
<script src="/javascripts/ember.js"></script>
<script src="/javascripts/ember-data.js"></script>

<script src="/javascripts/application.js"></script>
<script src="/javascripts/router.js"></script>
<script src="/javascripts/models/tweet.js"></script>
